*{
    margin: 0;
    padding: 0;
    outline: 0;
    
    /* Webkit fixes (Safari/Chrome) */
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-border-radius: 0px;
    
    /* IE fixes */
    -ms-interpolation-mode: bicubic;
    -ms-text-size-adjust: 100%;
    
    /* Firefox fixes */
    -moz-border-radius: 0px;
    border-radius: 0px;
    -khtml-border-radius: 0px;
}

body{
    background: #fff;
    color:#000;
    font-family: 'Open Sans', Arial, Helvetica, Times New Roman, sans-serif;
}
img{
    border:0;
}

@max-width: 1246px;

.container{
    max-width:@max-width;
    margin:0 auto;
    overflow:hidden;
}
.container_min{
    margin:0 auto;
    overflow:hidden;
}


#header{
    height: 163px;
    height: 57px;
    background-color: #282828;
    display: block;
        
    #header_content{
        margin:0 auto;
        
        img{
            margin: 15px;
            margin-left:0;
            float:left;
        }

        #menu_toggler{
            background: url(/img/nav_arrow.png) center no-repeat;
            width:57px;
            height:57px;
            position:absolute;
            z-index:400;
            right:0;
            top:0;
            cursor:pointer;
            display:none;
            
            &:hover{
                background-color:#1A1A1A;
            }
        }
        
        .nav{
            float:left;
            text-transform: uppercase;
            list-style:none;
            background: #282828;
            
            li{
                float:left;
                
                a{
                    text-decoration: none;
                    color: #fff;
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 14px;
                    padding:20px;
                    display:block;
                    float:left;
                    position:relative;
                    z-index:300;
                    
                    &:hover{
                        text-decoration:underline;
                        background:#1A1A1A;     
                    }
                }
                
                &.dropdown{
                    & > a:after{
                        background: url(/img/nav_arrow.png) top left no-repeat;
                        width:9px;
                        height:4px;
                        margin-left:10px;
                        margin-top:7px;
                        display:block;
                        content:" ";
                        float:right;
                    }
                    
                    .sub{
                        list-style:none;
                        position:absolute;
                        display:none;
                        background:#282828;
                        padding-top:53px;
                        z-index:200;
                        overflow:hidden;
                        
                        li{
                            float:none;
                            padding-top:4px;
                            padding-bottom:4px;
                            
                            a{
                                width:100%;
                            }
                        }
                    } // .sub
                } // &.dropdown
            } // li
        } // .nav
    } // #header_top_content
} // #header

#lead{
    width:100%;
    background: url(../img/lead_gallery.png) no-repeat center;
    min-height: 106px;
    
    &.title{
        h1{
            font-family: Arial;
            font-size: 29px;
            font-weight: lighter;
            color: white;
            text-align: center;
            padding-top: 27px;
            text-transform: uppercase;
            margin: 0 auto;
        }
        h3{
            font-family: Arial;
            font-size: 17px;
            font-weight: lighter;
            color: white;
            text-align: center;
            margin: 0 auto;
        }
    }
    
    &.main{
        min-height: 584px;
        background: url(../img/lead_main.png) center no-repeat;
        background-size:cover;
        
        #lead_main_content{
        
            h1{
                font-family: Arial;
                font-size: 38px;
                color: white;
                font-weight: lighter;
                text-transform: uppercase; 
            }
            
            h2{
                margin-top:47px;
                font-family: Arial;
                font-size: 20px;
                color: white;
                font-weight: lighter;
                text-transform: uppercase; 
            }
            
            h3{
                margin-top:51px;
                font-family:'Open Sans', sans-serif;
                font-size: 19px;
                color: white;
                font-weight: lighter;
                max-width:580px;
                line-height: 33px;
            }
              
            a{
                text-decoration: none;
                margin-top:72px;
                padding: 15px 20px;
                color: white;
                background-color: #f06469;
                font-family: Arial;
                font-weight: bold;
                font-size: 20px;
                border: none;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
} // #header_btm

.gallery{
    overflow: hidden;
    margin:0 auto;
    
    .gallery_img{
        width:226px;
        height:226px;
        float:left;
        margin:14px;
        overflow:hidden;
    }
}


@partner_width: 535px;

.partners{
    overflow: hidden;
    
    .partner{
        float:left;
        width: @partner_width;
        overflow: hidden;
        margin: (@max-width / 2 - @partner_width) / 2;
        text-align: center;
        
        h1{
            margin-top:11px;
            font-family: Arial;
            font-size: 23px;
            font-weight: bold;
            color: #3b3b3b;
        }
        h2{
            margin-top: 10px;
            font-family: Arial;
            font-size: 15px;
            color: #bfbfbf;
            font-weight: lighter;
        }
        p{
            padding-left: 20px;
            padding-right: 20px;
            margin-top:  16px;
            font-family: 'Open Sans';
            font-weight: 100;
            font-size: 15px;
            color: #afafaf;
        }
        h3{
            margin-top: 26px;
            font-family: Arial;
            font-size: 15px;
            color: #3b3b3b;
            font-weight: bold;
        }
    }
}

@person_width: 341px;

.persons{
    overflow: hidden;
    
    .person{
        width: @person_width;
        margin: (@max-width / 3 - @person_width) / 2;
        overflow: hidden;
        float:left;
        
        img{
            text-align: center;
            margin: 0 auto;
            display: block;
            margin-bottom:-33px;
        }
        
        .person_btm{
            overflow: hidden;
            padding-top:33px;
            padding-bottom:31px;
            background: #f5f5f5;
            text-align: center;
            
            h1{
                margin-top: 31px;
                font-family: Arial;
                font-weight: bold;
                font-size: 23px;
                color: #3b3b3b;
            }
            h2{
                margin-top:10px;
                font-family: Arial;
                font-size: 15px;
                color: #bfbfbf;
                font-weight: lighter;
            }
            p{
                margin-top:12px;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'Open Sans';
                font-size: 15px;
                color: #afafaf;
                line-height: 30px;
            }
            h3{
                margin-top:15px;
                font-family: Arial;
                font-size: 15px;
                color: #3b3b3b;
                font-weight: bold;
            }
        }
    }
}



.pager{
    text-align:right;
    padding-top:45px;
    padding-bottom:45px;
    position: relative;
    
    a{
        text-decoration: none;
        background: #f3f3f3;
        border: none;
        padding: 15px 20px;
        margin: 5px;
        color: #979797;
        font-family: Arial;
        font-size: 14px;
        cursor: pointer;
        
        &:hover, &.active{
            background: #f06469;
            color: white;
        }
        
        &:last{
            margin-right:0;
        }
    }
}

@main_first_posts_width: 314px;
@main_first_posts_paddings: 100px; 

.main_first_posts{
    clear: both;
    overflow: hidden;
    
    .post{
        padding-top:40px;
        padding-bottom:40px;
        padding-right:50px;
        padding-left:50px;
        width: @main_first_posts_width;
        float:left;
        text-align: center;
        
        h1{
            margin-top:35px;
            font-family: Arial;
            font-weight: bold;
            font-size: 20px;
            color: #292929;
            margin-top: 20px;
        }
        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            color: #aeaeae;
            margin: 0 auto;
        }
        
        .img{
            width:293px;
            height:168px;
            overflow: hidden;
            margin:0 auto;
        }
        
    }
}

@content_main_left_width: 896px;
@content_main_post_content_margin: 29px;
@content_main_post_img_width: 251px;
@content_main_right_width: 300px;
@content_main_margin: 50px;

#content_main{
    overflow: hidden;
    
    #content_main_left{
        width:@content_main_left_width;
        float:left;
        overflow: hidden;
        
        .main_posts{
            .post{
                overflow: hidden;
                clear: both;
                margin-top:30px;
                margin-bottom:30px;
                display: block;
                
                .img{
                    width:@content_main_post_img_width;
                    float:left;
                    display: block;
                    
                    img{
                        width:251px;
                    }
                    
                    &::after{
                        float:left;
                        text-transform: uppercase;
                        font-size:21px;
                        font-weight: 100;
                        font-family: Arial;
                        background: #000;
                        color:#fff;
                        height:25px;
                        padding:5px 10px;
                        margin-top:-40px;
                        display: block;
                        position: relative;
                        z-index:200;
                    }
                    
                    &.event::after{
                        content: 'событие';
                        background: #3D3D3D;
                    }
                    &.news::after{
                        content: 'новости';
                        background: #009F87;
                    }
                    &.tour::after{
                        content: 'тур';
                        background: #EF6368;
                    }
                }
                
                .post_content{
                    float:left;
                    margin-left: 29px;
                    width:@content_main_left_width - @content_main_post_img_width - @content_main_post_content_margin;
                    
                    h1{
                        font-family: Arial;
                        font-weight: bold;
                        font-size: 22px;
                        color: #292929;
                        margin-top:-4px;
                    }
                    
                    .time{
                        margin-top:13px;
                        font-family: Arial;
                        font-weight: bold;
                        font-size: 15px;
                        color: #aeaeae;
                        text-transform: uppercase;
                    }
                    
                    p{
                        margin-top:15px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        color: #a6a6a6;
                        line-height: 1.2;
                    }
                    
                    a{
                        margin-top:15px;
                        color: #f16e73;
                        font-family: Arial;
                        font-weight: bold;
                        font-size: 15px;
                        text-decoration: none;
                        display: block;
                        
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }   
        }
    }

    #content_main_right{
        margin-left: @content_main_margin;
        float: left;
        overflow: hidden;
        width:  @content_main_right_width;
        
        
        .block{
            margin-top:30px;
            
            h1{
                font-family: Arial;
                font-weight: normal;
                font-size: 19px;
            }
            
            &.sidebar_list{
                .item{
                    overflow: hidden;
                    clear: both;
                    margin-top:10px;
                    
                    img{
                        float:left;
                    }
                    
                    .item_content{
                        float:left;
                        margin-left: 15px;
                        
                        h2{
                            margin-top:5px;
                            font-family: Arial;
                            font-size: 14px;
                        }
                        
                        .date{
                            margin-top:9px;
                            font-family: Arial;
                            font-weight: bold;
                            font-size: 14px;
                            color: #aeaeae;
                        }
                    }
                }
            } // sidebar_list
            
            .smena{
                img{
                    margin-top:20px;
                }
            }
        } // block
    } // content_main_right
}


#footer{
	width: 100%;
	height: 65px;
	background-color: #282828;
    
    h3{
        color: #757575;
        font-family: Arial;
        font-size: 14px;
        font-weight: lighter;
        float: left;
        margin: 20px;
        
        a{
            color: #757575;
            
            &:hover{
                color:#fff;
            }
        }
    }
    
    .nav_btm{
        width: 100%;
        text-align: right;
        padding-top:20px;
        padding-bottom:20px;
        
        a{
            text-decoration: none;
            font-family: Arial;
            font-size: 14px;
            font-weight: lighter;
            color: white;
            margin: 20px;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}




///////////////// MEDIA QUERIES ////////////////////

@gallery_margins: 28px;

@media (min-width: 1275px){
    @gallery: 1275px;
    .gallery{ // 5 колонок галерея
        width: @gallery;
    }
    .container{
        width: @gallery - @gallery_margins;
    }
}

@media (max-width: 1274px){
    @gallery: 1016px;
    .gallery{ // 4 колонки
        width: @gallery;
    }
    .container{
        width: @gallery - @gallery_margins;
    }
    .pager{
        right:-5px;
    }
    .partners{
        .partner{
            float:none;
            margin:0 auto;
            margin-top:44px;
            margin-bottom:20px;
        }
    }
    .persons{
        width: @person_width * 2 + (@max-width / 3 - @person_width) * 2;
        margin:  0 auto;
    }
    .main_first_posts{
        .post{
            padding-left:5px;
            padding-right:5px;
        }
    }
    
    #content_main_left{
        width: @gallery - @gallery_margins - @content_main_right_width - @content_main_margin !important;
        
        .main_posts{
            .post{
                .post_content{
                    width: @gallery - @gallery_margins - @content_main_right_width - @content_main_margin - @content_main_post_content_margin - @content_main_post_img_width !important;
                }
            }
        }
    }
}

@media (max-width: 1030px){
    @gallery: 762px;
    .gallery{ // 3 колонки
        width: @gallery;
    }
    .container{
        width: @gallery - @gallery_margins;
    }
    .persons{
        .person{
            margin:((@gallery - @gallery_margins)/ 2 - @person_width) / 2;
        }
    }
    .main_first_posts{
        .post{
            margin:0 auto;
            float: none;
            width:100%;
            padding:0;
            padding-top:20px;
            padding-bottom:20px;
        }
    }
    
    #content_main_left{
        width: @gallery - @gallery_margins !important;
        
        .main_posts{
            .post{
                .post_content{
                    width: @gallery - @gallery_margins - @content_main_post_content_margin - @content_main_post_img_width !important;
                }
            }
        }
    }
    #content_main_right{
        width: @gallery - @gallery_margins !important;
        margin-left:0 !important;
        margin-bottom:50px;
        padding:1em;
    }
    
    #footer{
        overflow: hidden;
        height:auto;
        
        h3{
            width:100%;
            text-align: center;
            margin-left:0;
            margin-right:0;
        }
        
        .nav_btm{
            overflow:hidden;
            width:100%;
            text-align: center;
        }
    }
}

@media (max-width: 800px){
    @gallery: 508px;
    .gallery{
        width: @gallery;
    }
    .container, .container_min{
        width:100%;
    }
    .partners{
        .partner{
            width:100%;
            
            img{
                max-width: 100%;
            }
        }
    }
    .persons{
        width:100%;
        
        .person{
            float:none;
            margin:0 auto;
            margin-top: 20px;
            margin-bottom: 20px 
        }
    }
    .main_first_posts{
        .post{
            width:100%;
            .img{
                img{
                    max-width: 100%;
                }
            }
        }
    }
    #header{
        text-align: center;
        
        a{
            text-align: center;
            
            img{
                float:none !important;
            }
        }
        
        #menu_toggler{
            display:block !important;
        }
        
        .nav{
            position:absolute;
            width:100%;
            
            li{
                float:none;
                width:100%;
                
                a{
                    width:100%;
                    padding-left:0 !important;
                    padding-right:0 !important;
                    text-align: center;
                    
                    &:after{
                        display:none !important;
                    }
                }
                
                .sub{
                    display:block !important;
                    position:relative !important;
                    float:left;
                    width:100%;
                    padding-top:0 !important;
                    background: #1a1a1a;
                    overflow: hidden;
                    box-shadow: inset 0 2px 3px #000;
                    padding-bottom:10px;
                    
                    li{
                        float:left;
                        
                        a{
                            padding:15px;
                            padding-left: 50px;
                            font-size:12px !important;
                        }
                    }
                }
            }
        }
    }
    
    #lead{
        &.main{
            height:  auto !important;
            padding-bottom:10px;
            margin-top:0 !important;
            
            #lead_main_content{
                width:100%;
                text-align: center;
                padding:0;
                
                h3{
                    display: block;
                    margin: 0 auto;
                    padding:  5px;
                    margin-top:51px;
                }
            }
        }
    }
    
    .pager{
        text-align: center;
        right:0;
    }
    
    #content_main_left{
        width: @gallery - @gallery_margins !important;
        margin:0 auto;
        float:none !important;
        
        .main_posts{
            .post{
                .post_content{
                    width: @gallery - @gallery_margins - @content_main_post_content_margin - @content_main_post_img_width !important;
                }
            }
        }
    }
}

@media (max-width: 600px){
    @gallery: 254px; 
    .gallery{
        width: @gallery;
    }
}


@media (max-width: 480px){
    #content_main_left{
        width: 100% !important;
        margin:0 auto;
        float:none !important;
        
        .main_posts{
            .post{
                .img{
                    margin:0 auto;
                    float: none !important;
                    
                    img{
                        max-width: 100%;
                    }
                }
                .post_content{
                    width:auto !important;
                    margin:0 auto !important;
                    padding:1em;
                    float:none !important;
                    
                    h1, .time, .more{
                        text-align: center !important;
                    }
                }
            }
        }
    }
    #content_main_right{
        width: auto !important;
        
        img{
            max-width: 100%;        
        }
    }
}
@media (max-width: 340px){
    .persons{
        .person{
            width:100%;
        }
    }
}